[submodule "SourceCodeAnalysis"]
	path = SourceCodeAnalysis
	url = git@github.com:stdstring/SourceCodeAnalysis.git
[submodule "SourceCodeAnalysis.v2"]
	path = SourceCodeAnalysis.v2
	url = git@github.com:stdstring/SourceCodeAnalysis.v2.git
[submodule "SourceCodeSimplifier"]
	path = SourceCodeSimplifier
	url = git@github.com:stdstring/SourceCodeSimplifier.git
[submodule "PythonExamplesPorter"]
	path = PythonExamplesPorter
	url = git@github.com:stdstring/PythonExamplesPorter.git
[submodule "wordscpp.doxygen2hugo"]
	path = wordscpp.doxygen2hugo
	url = git@github.com:stdstring/wordscpp.doxygen2hugo.git
[submodule "ASL.Impl"]
	path = ASL.Impl
	url = git@github.com:stdstring/ASL.Impl.git
[submodule "Net2JavaApiDocLinker"]
	path = Net2JavaApiDocLinker
	url = git@github.com:stdstring/Net2JavaApiDocLinker.git
[submodule "cppgm"]
	path = cppgm
	url = git@github.com:stdstring/cppgm.git
[submodule "LanguagesExperiments"]
	path = LanguagesExperiments
	url = git@github.com:stdstring/LanguagesExperiments.git
